<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.hzyc.niuben.mapper.NewsMapper">
	<select id="selectNewsALLText" resultType="NewsBean">
		SELECT * FROM newsbanner ORDER BY newsId DESC LIMIT 0,5
		</select>
	
	</mapper>